* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.nostra-nav {
  width: 100%;
  padding: 15px 25px;
  background-image: linear-gradient(to left, rgb(161, 224, 255), white);
  color: rgb(196, 137, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.logo-box h1 {
  font-size: 28px;
  color: rgb(208, 177, 0);
}

.logo-box p {
  font-size: 12px;
  color: rgb(0, 0, 0);
  margin-top: -2px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  color: rgb(200, 166, 0);
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: rgb(0, 0, 0);
}

.icons i {
  font-size: 22px;
  cursor: pointer;
  margin-left: 15px;
}

.close-btn {
  font-size: 22px;
  cursor: pointer;
  color: #000000;
  display: block;
  text-align: right;
  margin-bottom: 10px;
}

.user-dropdown {
  position: fixed;
  top: 70px;
  right: -260px;
  width: 260px;
  background: rgb(235, 248, 254);
  padding: 20px;
  border-radius: 10px 0 0 10px;
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.25);
  transition: right 0.4s ease;
  z-index: 200;
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-dropdown.show {
  right: 0;
}

.user-dropdown p {
  padding: 8px 0;
  cursor: pointer;
  color: black;
}

.user-dropdown p:hover {
  color: #b48b38;
}

.user-dropdown span {
  font-size: 16px;
  color: #000000;
}

.user-dropdown hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 5px 0;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100vh;
  background: rgb(161, 224, 255);
  padding: 20px;
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.25);
  transition: right 0.4s ease;
  z-index: 200;
}

.side-menu.show {
  right: 0;
}

.side-menu p {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.side-menu p:hover {
  color: #b48b38;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.55);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 90;
}

#overlay.show {
  opacity: 1;
  pointer-events: all;
}

.contact-header {
  margin-top: 100px;
  color: rgb(1, 1, 1);
  text-align: center;
}

.contact-header h1 {
  font-size: 22px;
}

.contact-info {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.info-box {
  width: 300px;
  padding: 25px;
  background: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.info-box i {
  font-size: 35px;
  color: rgb(161, 224, 255);
}

.info-box h3 {
  margin-top: 10px;
}

.contact-body {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.form-section {
  width: 450px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
  margin-bottom: 20px;
  color: rgb(0, 116, 174);
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

button {
  width: 100%;
  background: rgb(161, 224, 255);
  color: rgb(185, 166, 0);
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background: black;
}

.shopping-img img {
  width: 450px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.footer {
  padding: 10px 20px;
  background-color: rgb(246, 251, 255);
}

.footer p {
  font-size: 14px;
}

.footer-copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer img {
  width: 100px;
}

.download-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.footer-app {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 5px lightgray;
  border-radius: 10px;
}

.footer-app p{
    font-size: 12px;

}

.footer-app:hover{
  background-color: rgb(233, 253, 255);
}

.footer-app img {
  width: 30px;
  height: 30px;
}



/* MEDIA QUERIES */

@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}

@media (max-width: 980px) {
  .menu-toggle {
    display: none;
  }
}

@media (max-width: 550px) {
  .nav-links {
    display: none;
  }
  .menu-toggle {
    display: inline-block;
  }

  .contact-body {
    padding: 20px;
  }
  .form-section,
  .shopping-img img {
    width: 100%;
  }

  .footer-app{
    display: none;
  }
}

@media (max-width: 360px) {
  .logo-box h1 {
    font-size: 22px;
  }
  .icons i {
    font-size: 20px;
  }
  .footer p {
    font-size: 12px;
  }
}
